<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>
<form method="post" action="/books/editBook">
    <input type="hidden" name="id" th:value="${book.getId()}"/>
    Title:
    <input type="text" name="editTitle" th:value="${book.getTitle()}"/><br>
    Isbn:
    <input type="text" name="editIsbn" th:value="${book.getIsbn()}"><br>
    Genre:
    <input type="text" name="editGenre" th:value="${book.getGenre()}"/><br>
    Year:
    <input type="number" name="editYear" th:value="${book.getYear()}"/><br>
    Store ID:
    <select name="editStore">
        <option th:each="bookStore : ${stores}" th:value="${bookStore.getId()}"
                th:text="${bookStore.getId()}"></option>
    </select><br>
    <input type="submit" value="Edit book">
</form>

</body>
</html>